#MyRect {
    stroke: green;
    stroke-opacity: 1;
    stroke-width: 5px;
}
#MySymbol {
    fill: blue;
}
#TheMaladriners, #blue {
    fill:#2a2a57;
    fill-opacity:1;
    stroke:#2a2a57;
    stroke-width:0;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}
#blue {
    fill:blue;
    stroke: blue;
}